@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 2000px;
	background-color: aquamarine;
}
.wrap{
	width: 1366px;
	height: 1900px;
	background-color: white;
	margin: 0 auto;
}
.head{
	width: 1366px;
	height: 120px;
/*	background-color: blanchedalmond;*/
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 157px;
	height: 86px;
	background: url("logo.jpg")no-repeat;
	background-size: cover;
}
.call{
	width: 200px;
	height: 60px;
/*	background-color: blueviolet;*/
}
.icon{
	width: 35px;
	height: 35px;
	background: url("icons.png")0px -12px;
	background-size: cover;
	float: left;
	margin-top: 3px;
}
.search{
	clear: both;
	width: 215px;
	height: 45px;
/*	background-color: aquamarine;*/
/*	margin-top: 30px;*/
	margin-right: 50px;
	position: relative;
}
.input{
	width: 200px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 20px;
	
}
.searchbtn{
	width: 30px;
	height: 25px;
	background: url("icons.png")0px -56px;
/*	background-size: cover;*/
	position: absolute;
	top:2px;
	right: 10px;
	border: none;
}
.nav{
	width: 1366px;
	line-height: 63px;
	background-color: #2b68a8;
	display: flex;
	justify-content: space-between;
}
ul li{
	display: inline-block;
	font-size: 20px;
	color: white;
}
li{
	margin-left: 20px;
}
.sign,.acc{
	padding: 10px;
	border-radius: 10px;
	border: none;
	background: linear-gradient(to top, orange, yellow);
	font-weight: bold;
	cursor: pointer;
	margin-right: 10px;
}
/*
.acc{
	margin-right: 20px;
}
*/
.banner{
	width: 1366px;
	height: 608px;
	background: url("bg.jpg");
	position: relative;
}
.widget{
	width: 918px;
	height: 151px;
/*	background-color: aqua;*/
	position: absolute;
	top:460px;
	left: 223px;
}
.widget h3{
	background-color: black;
	color: white;
	width: 150px;
	padding: 5px 10px 5px 28px;
	margin-left: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.widget form{
	width: 900px;
	height: 100px;
	background-color: white;
	border: 10px solid black;
}
.widget label{
	display: inline-block;
	margin-top: 15px;
	margin-left: 15px;
	font-size: 18px;
}
.widget select{
	width: 100px;
	padding: 5px;
}
.widget input{
	width: 100px;
	padding: 5px;
}
.widget button{
	    padding: 4px;
    width: 70px;
    margin-left: 70px;
    background-color: indianred;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
.container{
	width: 1366px;
	height: 500px;
	background-color: #eee;
}
.hotel{
	width: 918px; 
	height: 400px;
/*	background-color: aqua;*/
	margin: 0 auto;
}
hr{
	width: 81%;
	float: right;
	border: 1px solid black;
	margin-top: 16px;
}
h4{
	font-size: 25px;
	float: left;
	margin-bottom: 5px;
}
.place{
	height: 300px;
	clear: both;
/*	background-color: white;*/
	display: flex;
	justify-content: space-between;
}
.parta,.partb,.partc{
	width: 285px;
	height: 206px;
/*	background-color:chartreuse;	*/
	box-shadow: 10px 10px 20px black;
}
.imga{
	width: 285px;
	height: 149px;
	background: url("popular-mariott.jpg");
}
.imgb{
	width: 285px;
	height: 149px;
	background:url("popular-mont.jpg");
}
.imgc{
	width: 285px;
	height: 149px;
	background:url("popular-taj.jpg");
}
.box{
	width: 285px;
	height: 60px;
	background-color: white;
}
.smalltxt{
	width: 80px;
	line-height:  30px;
	background-color: #2b68a8;
	color: white;
	float: right;
	margin-top: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
}
h5{
	padding-top:  10px;
	
}
h5,p{
	padding-left:10px;
}